<dialog id="todo-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Danh sách việc (To-do)</h2>
      <button type="button" id="close-todo-btn" aria-label="Close todo">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"><path fill="#1E213F" fill-rule="evenodd" d="M11.95.636l1.414 1.414L8.414 7l4.95 4.95-1.414 1.414L7 8.414l-4.95 4.95L.636 11.95 5.586 7 .636 2.05 2.05.636 7 5.586l4.95-4.95z" opacity=".5" /></svg>
      </button>
    </div>

    <form id="todo-form" class="todo-form">
      <input type="text" id="todo-text" placeholder="Nhập việc cần làm..." maxlength="120" autocomplete="off" />
      <div class="todo-cycles">
        <label for="todo-cycles">Số vòng pomodoro</label>
        <input type="number" id="todo-cycles" min="1" max="20" value="4" />
      </div>
      <button type="submit" class="todo-add">Thêm</button>
    </form>

    <ul id="todo-list" class="todo-list"></ul>
  </div>
</dialog>

<!-- <script type="module" src="./js/todo.js"></script> -->